/.mypy_cache
/.vscode
/Code.zip
/Output.txt
/Universal Dependencies 2.14
/__pycache__
/archive.py
/dep_plot_gold_0.png
/dep_plot_gold_1.png
/dep_plot_gold_2.png
/dep_plot_gold_3.png
/dep_plot_gold_4.png
/dep_plot_gold_5.png
/dep_plot_gold_6.png
/dep_plot_gold_7.png
/dep_plot_gold_8.png
/dep_plot_gold_9.png
/dep_plot_pred_0.png
/dep_plot_pred_1.png
/dep_plot_pred_2.png
/dep_plot_pred_3.png
/dep_plot_pred_4.png
/dep_plot_pred_5.png
/dep_plot_pred_6.png
/dep_plot_pred_7.png
/dep_plot_pred_8.png
/dep_plot_pred_9.png
/graph.png
/input.txt
/lol.pickle
/memmap
/memmap2
/memmap_val
/model
/natural_stories_spacy.conllu
/naturalstories-master
/plot.png
/plot_0.png
/plot_1.png
/plot_2.png
/plot_3.png
/plot_4.png
/plot_5.png
/plot_6.png
/plot_7.png
/plot_8.png
/plot_9.png
/sample.conllu
/testframe.csv
/testmap
/tokenmapper
/tokmap.pickle
/wikitext_parsed
/wikitext_parsed.zip
/wikitext_spacy_dev.conllu
/wikitext_spacy_test.conllu
/wikitext_spacy_train.conllu